.container {
    width: 1000px;
    margin: 0 auto;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

[class^="col-"] {
    background: #333333;
    border: 3px solid white;
    height: 40px;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
    color: white;
}

.col-1 {
    width: calc(1 / 16 * 100%);
}

.col-2 {
    width: calc(2 / 16 * 100%);
}

.col-3 {
    width: calc(3 / 16 * 100%);
}

.col-4 {
    width: calc(4 / 16 * 100%);
}

.col-5 {
    width: calc(5 / 16 * 100%);
}

.col-6 {
    width: calc(6 / 16 * 100%);
}

.col-7 {
    width: calc(7 / 16 * 100%);
}

.col-8 {
    width: calc(8 / 16 * 100%);
}

.col-9 {
    width: calc(9 / 16 * 100%);
}

.col-10 {
    width: calc(10 / 16 * 100%);
}

.col-11 {
    width: calc(11 / 16 * 100%);
}

.col-12 {
    width: calc(12 / 16 * 100%);
}

.col-13 {
    width: calc(13 / 16 * 100%);
}

.col-14 {
    width: calc(14 / 16 * 100%);
}

.col-15 {
    width: calc(15 / 16 * 100%);
}

.col-16 {
    width: calc(16 / 16 * 100%);
}