h1 {
    color: #4b5e6f;
    margin-left: 20px;
}

table {
    background-color: #33495d;
    border-radius: 10px;
    margin-left: 20px;
}

table tr .year-width {
    width: 70px;
}

table tr th {
    padding-left: 20px;
    width: 120px;
    height: 50px;
    color: #d3d554;
    text-align: left;
}

table tr td {
    padding-left: 20px;
    width: 120px;
    height: 50px;
    color: #d3d7da;
}