* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #D8AA96;
}
/* form color #807182 #FAC7C2*/
/* ================================= CSS FORM =================== */
.heading-2 {
    margin: 0;
}
.form {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: stretch;
}
.form-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #807182;
    padding: 30px 35px 0 35px;
}

.form-left .heading-2 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.form-left .form-img {
    display: block;
    width: 150px;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.form-right {}

.form-wrapper {
    background-color: #FAC7C2;
    padding: 25px;
}

.form-wrapper .heading-2 {
    font-size: 25px;
    margin: 0 0 15px 0;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group-control {
    margin-bottom: 15px;
}
.form-label {
    margin: 0 0 10px 0;
    font-size: 14px;
}
.form-input-text {
    border: 0;
    padding: 10px 5px;
    border-radius: 5px;
    width: 185px;
}
.form-input-text[type="text"]::placeholder {
    color: #807182;
}
.form-input-text[type="date"] {
    text-transform: uppercase;
    color: #807182;
    padding: 8px 5px;
}


/* =============== CSS RADIO ============= */

.form-group-radio {
    background-color: #fff;
    width: 185px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.form-group-radio input[type="radio"]{
    display: none;
}
.form-group-radio input[type="radio"] + label{
    display: inline-block;
    background-color: none;
    flex: 1;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    transition: background-color .3s ease;
}
.form-group-radio input[type="radio"]:checked + label{
    background-color: #F7B1AB;
}

/* =============== CSS CHECKBOX ============= */
.form-group-radio.w-100{
    background-color: #fff;
    width: 100%;
}


/* =============== CSS BUTTON ============= */


.form-group-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
}

.btn {
    display: block;
    background-color: #fff;
    border: .5px solid #ddd;
    border-radius: 20px;
    padding: 8px 30px;
    cursor: pointer;
    text-transform: capitalize;
}


.btn.bg-color-1 {
    background-color: #807182;
    color: #fff;
}

/* ===================== CSS ICON ================== */
.form-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-icon {
    background-color: #FAC7C2;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    transform: rotate(-30deg);
}
.form-icon-img {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}


/* ===================== CSS Avatar ================== */


input[type="file"] {
    display: none;
}
.avatar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.avatar-icon {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar-icon .avatar-icon-img {
    display: block;
    width: 20px;
    height: 20px;
}
.avatar .avatar-label {
    padding: 5px 7px;
    border: 1px solid transparent;
    transition: all .3s ease;
}
.avatar .avatar-label:hover {
    border: 1px solid #807182;
}