body {
    background-color: #ccc;
}

h2,
.row::after,
.row-1:after {
    content: "";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16 {
    background-color: #333333;
    float: left;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 72px;
    text-align: center;
    line-height: 72px;
    color: white;
}

.item-2 .col-1,
.item-2 .col-2,
.item-2 .col-3,
.item-2 .col-4,
.item-2 .col-5,
.item-2 .col-6,
.item-2 .col-7,
.item-2 .col-8,
.item-2 .col-9,
.item-2 .col-10,
.item-2 .col-11,
.item-2 .col-12,
.item-2 .col-13,
.item-2 .col-14,
.item-2 .col-15,
.item-2 .col-16 {
    float: right;
}

.item-3 .col-8 {
    float: right;
}

.item-3 .col-1 {
    width: 33%;
}

.item-3 .col-2 {
    width: 66%;
}

.item-4 .col-1 {
    width: 33%;
}

.item-4 .col-2 {
    width: 66.5%;
}

.item-4 .row-2 .col-1 {
    float: right;
}

.item-4 .row-2 .col-2 {
    float: right;
}

.item-5 .row-2 .col-4 {
    float: right;
}

.item-5 .row-2 .col-12 {
    float: right;
}

.item-6 .col-1 {
    width: 19.5%;
}

.item-6 .col-2 {
    width: 39.5%;
}

.item-6 .col-3 {
    width: 60%;
}

.item-6 .col-4 {
    width: 80%;
}

.item-6 .row-2 .col-1 {
    float: right;
}

.item-6 .row-2 .col-2 {
    float: right;
}

.item-6 .row-2 .col-3 {
    float: right;
}

.item-6 .row-2 .col-4 {
    float: right;
}

.col-1 {
    width: 6.1%;
}

.col-2 {
    width: 13%;
}

.col-3 {
    width: 19%;
}

.col-4 {
    width: 24.5%;
}

.col-5 {
    width: 31%;
}

.col-6 {
    width: 37%;
}

.col-7 {
    width: 43%;
}

.col-8 {
    width: 49.8%;
}

.col-9 {
    width: 56.5%;
}

.col-10 {
    width: 62.5%;
}

.col-11 {
    width: 68.5%;
}

.col-12 {
    width: 75%;
}

.col-13 {
    width: 80.5%;
}

.col-14 {
    width: 86.5%;
}

.col-15 {
    width: 93.5%;
}

.col-16 {
    width: 100%;
}