body {
    background: #d8aa96;
}

.container {
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.col-5 {
    width: calc(5/12*100%);
    height: 500px;
    background: #807182;
}

.col-7 {
    width: calc(7/12*100%);
    height: 500px;
    background: #fac7c2;
}

.dog {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #f7b1ab;
    text-align: center;
}

.pupassure {
    display: inline-block;
    font-size: 20px;
}

.fa-paw {
    font-size: 20px;
    color: #807182;
    transform: rotateZ(-30deg);
    margin-top: 10px;
}

.my_dog {
    text-align: center;
    margin-top: 20px;
}

img {
    text-align: center;
    height: 250px;
    margin-top: 165px;
}