.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    border: 1px solid white;
    background-color: #ef5350;
    color: white;
    text-align: right;
    height: 95px;
    padding-top: 30px;
}