table{
    border: 1px solid white;
    background-color: #ef5350;
    color: white;
    width: 600px;
    height: 600px;
    border-spacing: 0px;
    margin-left: 400px;
}

tr, td{
    padding-right: 5px;
    text-align: right;
    border: 1px solid white;
}
/* comments quá nhiều về việc ko có dấu cách trước dấu { */