body {
    background-color: #ccc;
}

h2,
.clear {
    clear: both;
}

.col-01,
.col-02,
.col-03,
.col-04,
.col-05,
.col-06,
.col-07,
.col-08,
.col-09,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16 {
    background-color: #333333;
    float: left;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 72px;
    text-align: center;
    line-height: 72px;
    color: white;
}

.item-02 .col-01,
.item-02 .col-02,
.item-02 .col-03,
.item-02 .col-04,
.item-02 .col-05,
.item-02 .col-06,
.item-02 .col-07,
.item-02 .col-08,
.item-02 .col-09,
.item-02 .col-10,
.item-02 .col-11,
.item-02 .col-12,
.item-02 .col-13,
.item-02 .col-14,
.item-02 .col-15,
.item-02 .col-16 {
    float: right;
}

.item-03 .col-08 {
    float: right;
}

.item-03 .col-01 {
    width: 33%;
}

.item-03 .col-02 {
    width: 66%;
}

.item-04 .col-01 {
    width: 33%;
}

.item-04 .col-02 {
    width: 66.5%;
}

.item-04 .row-02 .col-01 {
    float: right;
}

.item-04 .row-02 .col-02 {
    float: right;
}

.item-05 .row-02 .col-04 {
    float: right;
}

.item-05 .row-02 .col-12 {
    float: right;
}

.item-06 .col-01 {
    width: 19.5%;
}

.item-06 .col-02 {
    width: 39.5%;
}

.item-06 .col-03 {
    width: 60%;
}

.item-06 .col-04 {
    width: 80%;
}

.item-06 .row-02 .col-01 {
    float: right;
}

.item-06 .row-02 .col-02 {
    float: right;
}

.item-06 .row-02 .col-03 {
    float: right;
}

.item-06 .row-02 .col-04 {
    float: right;
}

.col-01 {
    width: 6.1%;
}

.col-02 {
    width: 13%;
}

.col-03 {
    width: 19%;
}

.col-04 {
    width: 24.5%;
}

.col-05 {
    width: 31%;
}

.col-06 {
    width: 37%;
}

.col-07 {
    width: 43%;
}

.col-08 {
    width: 49.8%;
}

.col-09 {
    width: 56.5%;
}

.col-10 {
    width: 62.5%;
}

.col-11 {
    width: 68.5%;
}

.col-12 {
    width: 75%;
}

.col-13 {
    width: 80.5%;
}

.col-14 {
    width: 86.5%;
}

.col-15 {
    width: 93.5%;
}

.col-16 {
    width: 100%;
}