body {
    background-color: #383b55;
}

#container {
    padding-left: 600px;
    padding-top: 40px;
    height: 550px;
    width: 300px;
}

#header {
    background-color: #385e97;
    height: 50px;
    width: 300px;
}

.menu {
    padding-top: 7px;
    padding-left: 25px;
}

hr { 
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 4px;
}

#body {
    background-color: #31558a;
    height: 500px;
    width: 300px;
    position: relative;
}

#row-one,
#row-two,
#row-thre {
    position: absolute;
    height: 100px;
    position: relative;
}

.item-one {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #204273;
}

.item-two {
    position: absolute;
    width: 150px;
    height: 10px;
    margin-left: 95px;
    margin-top: 20px;
    background-color: #204273;
}

.item-thre {
    position: absolute;
    width: 150px;
    height: 10px;
    margin-left: 95px;
    margin-top: 35px;
    background-color: #204273;
}

.item-for {
    position: absolute;
    width: 90px;
    height: 10px;
    margin-left: 95px;
    margin-top: 50px;
    background-color: #204273;
}