
body{
    background-color: #383b55;
}
#container{
    padding-left: 400px;
    height: 550px;
    width: 300px;
}
#header{
    background-color: #385e97;
    height: 50px;
    width: 300px;
}
.menu{
    padding-top: 5px;
}
hr{ 
    margin-left: 25px;
    width: 25px;
    height: 2px;
    background-color:rgb(255, 255, 255);
    
}
#body{
    background-color: #31558a;
    height: 500px;
    width: 300px;
    position: relative;
}
#item-01, #item-02, #item-03{
    position: absolute;
    height: 100px;
    position: relative;
}
.content-01{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #204273;
}
.content-02{
    position: absolute;
    width: 150px;
    height: 10px;
    margin-left: 95px;
    margin-top: 20px;
    background-color: #204273;
}
.content-03{
    position: absolute;
    width: 150px;
    height: 10px;
    margin-left: 95px;
    margin-top: 35px;
    background-color: #204273;
}
.content-04{
    position: absolute;
    width: 90px;
    height: 10px;
    margin-left: 95px;
    margin-top: 50px;
    background-color: #204273;
}
