body {
    background: #bfbfbf;
}

* {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin-top: 50px;
    font-size: 20px;
    color: #e4e4e4;
}

u {
    color: #2522e8;
}

p {
    color: #fff8dc;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu {
    width: 1000px;
    margin: 0 auto;
    background: #ff7f50;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 10px 12px;
    font-size: 30px;
}

li:hover {
    background: #444444;
}

.menu ul:nth-child(1) {
    float: left;
}

.menu ul:nth-child(2) {
    float: right;
}

.clear-fix {
    clear: both;
}

a {
    color: #fff;
    text-decoration: none;
}