.row::after {
    content: "";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    height: 90px;
    background-color: #ef5350;
    border-radius: 10px;
    border: 1px solid white;
    line-height: 90px;
    position: relative;
}

span{
    position: absolute;
    right: 35px;
    color: aliceblue;
} 

.col-1 {
    width: 117px;
}

.col-2 {
    width: 236px;
}

.col-3 {
    width: 355px;
}

.col-4 {
    width: 474px;
}

.col-5 {
    width: 593px;
}

.col-6 {
    width: 710px;
}

.col-7 {
    width: 827px;
}

.col-8 {
    width: 944px;
}

.col-9 {
    width: 1062px;
}

.col-10 {
    width: 1179px;
}

.col-11 {
    width: 1297px;
}

.col-12 {
    width: 1415px;
}