.container {
    width: 1000px;
    margin: 0 auto;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 80px;
}

.row {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

div[class^="col-"] {
    border: 3px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #333333;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.col-1 {
    width: calc((1 / 16) * 100%);
}

.col-2 {
    width: calc((2 / 16) * 100%);
}

.col-3 {
    width: calc((3 / 16) * 100%);
}

.col-4 {
    width: calc((4 / 16) * 100%);
}

.col-5 {
    width: calc((5 / 16) * 100%);
}

.col-6 {
    width: calc((6 / 16) * 100%);
}

.col-7 {
    width: calc((7 / 16) * 100%);
}

.col-8 {
    width: calc((8 / 16) * 100%);
}

.col-9 {
    width: calc((9 / 16) * 100%);
}

.col-10 {
    width: calc((10 / 16) * 100%);
}

.col-11 {
    width: calc((11 / 16) * 100%);
}

.col-12 {
    width: calc((12 / 16) * 100%);
}

.col-13 {
    width: calc((13 / 16) * 100%);
}

.col-14 {
    width: calc((14 / 16) * 100%);
}

.col-15 {
    width: calc((15/16)*100%);
}

.col-16 {
    width: calc((16 / 16) * 100%);
}

.clear {
    clear: both;
}