* {
    font-family: 'IBM Plex Sans', sans-serif;
}
.modal {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.authen-form--part-right {
    background-color: #fac7c2;
    flex:1;
    color:#312726;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.authen-form__container {
    margin:0 36px;
}
.modal__overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #d8aa96;
}

.modal__body {
    position: relative;
    margin: auto;
    z-index: 1;
}

.authen-formm__banner.authen-form--part-left {
    width: 300px;
    background-color: #807182;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

img.authen-form__img {
    width: 70%;
}

.authen-form {
    display: flex;
    width: 800px;
    height: 500px;
}

.authen-form__title {
    width: 100%;
    text-align: center;
    margin-top: 36px;
}

.authen-form__title span {
    font-size: 26px;
    font-weight: 600;
}
h3.authen-form__heading {
    margin: 40px 0px 0px 0px;
}
form.authen-form__form {
    display: flex;
    /* height: 400px; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.authen-form__icon-wrap {
    display: inline-block;
    width: 34px;
    text-align: center;
    line-height: 34px;
    background-color: white;
    border-radius: 15px;
    margin-right: 6px;
}
.authen-form__group {
    width: 180px;
    margin-top:12px;
}
.authen-form__group--file {
    position: relative;
}
.authen-form__group--radio-box.full-width {
    width: 100%;
}
.authen-form__group--radio-box.full-width .authen-form__input-group {    width: 100%;
    display: flex;
    justify-content: space-between;
}
input[type="file"] {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 160px;
    height: 36px;
}
.authen-form__group--radio-box {

}
.authen-form__group--radio-box input {
    opacity: 0;
}
.authen-form__input[type="text"] {
    width: 100%;
    height: 36px;
    border: 1px solid #e5e5e5;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    /* color: red; */
   margin-top: 6px;
    text-indent: 10px;
}
.authen-form__input-group {
    background-color: white;
    border-radius: 4px;
    height: 36px;
    margin-top:6px;
}
.authen-form__input-wrap {
    width: 86px;
    height: 32px;
    float: left;
}
.authen-form__group--radio-box label {
    width: 86px;
    height: 30px;
    display: inline-block;
    position: relative;
    line-height: 30px;
    top: -17px;
    left: 4px;
    user-select: none;
    text-align: center;
    z-index: 1;
}
.authen-form__group--radio-box input:focus + label { /* không dùng focus, vì không chính xác, hãy dùng checked, tham khảo bài của Nguyen_Viet_Hung (Hưng) */
    background-color: #f7b1ab;
}
.authen-form__controls {
    background-color: white;
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 32px;

}

.btn {
    width: 96px;
    border-radius: 22px;
    border: none;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
}
.btn.authen-form__controls-next {
    background-color: #807182;
    color: white;
}