body {
    background-color: #d8aa96;
}

/* === css ảnh======= */
#img {
    background-color: #807182;
    float: left;
    width: 300px;
    height: 600px;
    margin-left: 300px;
    margin-top: 50px;
    text-align: center;
}

/* === css icon======= */

.fa-camera {
    position: absolute;
    padding-top: 7px;
    padding-left: 8px;
}

.fa-paw {
    position: absolute;
    padding-top: 10px;
    margin-left: -10px;
    color: #807182;
}

#model-1 {
    margin-top: 40px;
    margin-left: 35px;
    float: left;
    background-color: #f7b1ab;
}

#model-2 {
    margin-top: 20px;
    margin-left: 0px;
    float: left;
}

#model-2 input[type="file"] {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 0px;
}

#model-1,
#model-2 {
    width: 40px;
    height: 40px;
    background-color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    --border-radius: 20px;
    border-radius: 20px;
    position: relative;
}

/* === css tiêu dề======= */

h1 {
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

img {
    padding-top: 200px;
    height: 300px;
}

#content {
    background-color: #fac7c2;
    float: left;
    width: 550px;
    height: 600px;
    margin-top: 50px;
    position: relative;
}

h2 {
    font-size: 40px;
    margin-left: 15px;
}

#model-1:after,
#model-2:after,
h1:after,
img:after,
#content:after,
.row-1:after,
.row-2:after,
.item:after,
.item p:after,
label:after,
input:after,
.row-3:after {
    display: block;
    content: "";
    clear: both;
}

/* === css row1,row2======= */

.row-1,
.row-2 {
    padding-top: 20px;
}

.item {
    float: left;
    width: 200px;
    padding-left: 50px;
}

.item-file {
    position: relative;
}

#up-file {
    position: absolute;
    top: 27px;
    padding-left: 65px;
}

#file {
    width: 114px;
}

label {
    color: black;
    font-size: 20px;
}

input[type="text"],
input[type="date"] {
    background-color: azure;
    width: 200px;
    border-radius: 5px;
    height: 30px;
    border: none;
    text-align: center;
    margin-top: 10px;
}

input[type="date"] {
    height: 32px;
}

#name,
#breed,
#birthday {
    text-align: left;
    padding-left: 10px;
}

/* === css file,radio======= */

input[type="file"],
input[type="radio"] {
    opacity: 0;
    z-index: 1;
    position: absolute;
}

#gender,
#spayneu,
#weight {
    background-color: azure;
    width: 210px;
    border-radius: 5px;
    height: 30px;
    border: none;
    margin-top: 10px;
}

#weight {
    width: 460px;
}

input[type="radio"] {
    width: 90px;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

input[type="radio"]+label {
    float: left;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    width: 80px;
    height: 20px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
}

#weight input[type="radio"]+label {
    width: 90px;
}

input[type="radio"]:checked+label {
    background-color: #F7B1AB;
}

/*=========CSS button========*/

.row-3 {
    position: absolute;
    width: 550px;
    height: 60px;
    background-color: #ffffff;
    bottom: 0;
}

.row-3 #back button {
    float: left;
    border-radius: 30px;
    height: 35px;
    width: 120px;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
}

.row-3 #next button {
    float: left;
    border-radius: 30px;
    height: 35px;
    width: 120px;
    margin-left: 190px;
    margin-top: 10px;
    background-color: #807182;
    color: white;
    border: 1px solid #dfdfdf;
}