.row-flex {
    display: flex;
    max-width: 100%;
}

.col-auto,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
    height: 90px;
    background-color: #ef5350;
    border-radius: 10px;
    border: 1px solid white;
    position: relative;
}

span {
    position: absolute;
    right: 40px;
    top: 30px;
    color: aliceblue;
}

.col-auto {
    flex: 1 1 auto;
}

.col-1 {
    flex: 0 0 8%;
}

.col-2 {
    flex: 0 0 17%;
}

.col-3 {
    flex: 0 0 25%;
}

.col-4 {
    flex: 0 0 34%;
}

.col-5 {
    flex: 0 0 42%;
}