* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.item {
  background-color: #ef5350;
  font-size: 15px;
  padding: 20px;
  text-align: right;
  border: 2px solid white;
  box-sizing: border-box;
}

.item-1 {
  width: calc(100% / 12);
}

.item-2 {
  width: calc(100% / 12 * 2);
}

.item-3 {
  width: calc(100% / 12 * 3);
}

.item-4 {
  width: calc(100% / 12 * 4);
}

.item-5 {
  width: calc(100% / 12 * 5);
}

.item-6 {
  width: calc(100% / 12 * 6);
}

.item-7 {
  width: calc(100% / 12 * 7);
}

.item-8 {
  width: calc(100% / 12 * 8);
}

.item-9 {
  width: calc(100% / 12 * 9);
}

.item-10 {
  width: calc(100% / 12 * 10);
}

.item-11 {
  width: calc(100% / 12 * 11);
}

.item-12 {
  width: calc(100% / 12 * 12);
}

/*
  dùng flex mà chia theo % thì khác gì dùng div mà cũng chia % không?
*/