body {
    background: #bfbfbf;
}

* {
    margin: 0px;
    padding: 0px;
}

h4 {
    font-size: 30px;
    color: #d0d0d0;
    margin-top: 50px;
}

u {
    color: #1000ee;
}

p {
    font-size: 50px;
    color: #fdf7db;
    margin-top: 50px;
}

.menu {
    width: 1000px;
    background: #ff7f50;
    margin: 0 auto;
    margin-top: 50px;
}

ul {
    list-style: none;
}

.menu ul:nth-child(1) {
    float: left;
}

.menu ul:nth-child(2) {
    float: right;
}

li {
    font-size: 30px;
    padding: 10px 12px;
    display: inline-block;
}

li:hover {
    background: #444444;
}

a {
    color: #fff;
    text-decoration: none;
}

.clear-fix {
    clear: both;
}