#top{ /* thêm dấu cách trước dấu {, dòng 2 thừa dấu cách cuối dòng */
    background-color:#49ccfc; 
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

tr td{
    text-align: center;
    font-weight: bold;
}