*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
nav {
    text-align: center;
}
.navbar-brand {
    font-size: 12px;
    color:#E5E5E5;
    font-weight: bolder;
    margin:4 0px 0px 20px 0px;
}
.navbar-brand a {
    color:#1000EE;
}
.text {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    color:#FFF8DC;
    margin-bottom: 25px;
}
#my-nav ul{
    width: 100%;
    margin-left: 8%;
}
#my-nav ul li {
    float: left;
    list-style: none;
    padding: 20px 30px;
    background-color: #FF7F50;
    transition: all 3s;
}
#my-nav ul li a {
    text-decoration: none;
    color: #ffffff;
}
.active a {
    padding-left: 30px;
}
#my-nav ul li:hover {
    background-color: #444444;
}
.fas {
    font-size: 12px;
}

