    body {
        font-family: 'Courier New', Courier, monospace;
    }
    
    #main {
        width: 600px;
        background: #F5F5F5;
        height: 500px;
        margin-left: 250px;
    }
    
    #main-top {
        padding-left: 20px;
        color: #27408B;
        padding-top: 5px;
        font-size: 30px;
    }
    
    #row-top {
        color: yellow;
        font-size: 15px;
    }
    
    .row-2-3-4 {
        color: white;
        font-size: 15px;
    }
    
    #table {
        background: #2f2d7c;
        height: 160px;
        margin-left: 20px;
        margin-right: 30px;
        padding-left: 10px;
        padding-top: 10px;
        width: 540px;
    }