/* =========== RESET ============== */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #BFBFBF;
    font-family: sans-serif;
}

ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* #FFF9DD */
/* #FF7F50 */
/* #444444 */

.visit,
.heading-2 {
    text-align: center;
    color: #FFF9DD;
    margin-bottom: 50px;
}

.visit-link {
    text-decoration: underline;
}


/* =============== NAVIGATION =========  */

.nav {
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    background-color: #FF7F50;
}
.menu .mg-left-auto {
    margin-left: auto;
}

.menu-link {
    display: block;
    padding: 15px 20px;
    font-size: 11px;
    color: #fff;
    transition: background-color .5s ease-in;
    position: relative;
}
.menu-link:hover {
    background-color: #444444;
}

.menu-link.arrow::after {
    font-family: "FontAwesome";
    content: "\f103";
    position: absolute;
    color: #fff;
    top:50%;
    right: 5px;
    transform: translate(0,-50%);
}