table{
    border-collapse: collapse;
    text-align: center;
}
tr td{
    border: 1px solid black;
}
tr th{
    width: 100px;
    height: 30px;
    border:1px solid black;
}
.title{
    background-color: rgb(13, 224, 224);
    color: white;
}
