.container {
  /* thêm dấu cách */
  width: 83%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.big-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.big-new-img {
  width: 800px;
  height: 400px;
  background-color: rgb(211, 211, 211);
  text-align: center;
  position: relative;
}

.text-size {
  font-size: 90px;
  color: rgb(167, 167, 167);
  margin-top: 135px;
}

.text-note {
  font-size: 14px;
  color: rgb(167, 167, 167);
  position: absolute;
  right: 10px;
  bottom: 0;
}

.sub-text {
  color: rgb(179, 179, 179);
}

.text-title {
  font-size: 30px;
}

.text-content {
  font-size: 18px;
}

.second {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.second-frame {
  width: 390px;
  height: 150px;
  background-color: rgb(211, 211, 211);
  text-align: center;
  position: relative;
}

.second-frame p:nth-child(1) {
  font-size: 30px;
  color: rgb(167, 167, 167);
  margin-top: 55px;
}

.second-frame p:nth-child(2) { /* không đặt tên chứa số, số đếm. Khung số 2 ??? */
  font-size: 12px;
  color: rgb(167, 167, 167);
  position: absolute;
  right: 10px;
  /* thừa dấu cách cuối dòng 64 */
  bottom: 0;
}

.text {
  width: 390px;
  height: 150px;
}
